In [0]:
--merge into with upsert 
--upsert--- update and insert

In [0]:
use catalog dev;
use schema naval;

In [0]:
%python
data=([(1,'Naval','Hyderabd'),(2,'Ram','Mumbai'),(3,'Krishna','Bengaluru')])
schema="id int, name string, city string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source_tbl")

In [0]:
select * from source_tbl

In [0]:
--insert into emp select * from source_tbl

In [0]:
create table emp(id int, name string, city string);

In [0]:
delete from emp

In [0]:
merge into emp t
using source_tbl s
on t.id = s.id
when matched then update set *
when not matched then insert *

In [0]:
select * from emp